@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.body {
  overflow: hidden;
}

img {
  width: 50%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 999;
}

nav ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  width: 100%;
  height: 100vh;
  background-color: rgba(119, 118, 118, 0.208);
  backdrop-filter: blur(7px);
  transition: 0.5s linear;
  outline: none;
}

.hide {
  left: -100%;
}

.links {
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

nav ul li {
  text-decoration: none;
  font-size: 25px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  list-style: none;
  border-radius: 10px;
  transition: 0.3s linear;
}

.blur {
  background-color: rgba(245, 245, 245, 0.467);
  backdrop-filter: blur(15px);
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li :hover {
  border-bottom: 3px solid red;
}

.icon {
  z-index: 999;
  padding: 1rem;
}

.icon i {
  font-size: 33px;
  color: rgb(249, 94, 94);
}

/** header **/

.header {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 1rem;
  justify-content: center;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  font-family: 'Nunito Sans', sans-serif;
  background-image: linear-gradient(#000000e3, #000000eb), url(/home.jpg);
}

.header h2 {
  font-size: 35px;
  color: rgb(192, 190, 190);
  animation: slide 1.5s 1;
}

@keyframes slide {
  from {
    transform: scale(0.3);
  }

  to {
    transform: scale(1);
  }
}

.header h3 {
  font-size: 18px;
}

.duty {
  animation: duty 5s infinite;
}

.about {
  height: 20vh;
  justify-content: flex-end;
}

.abt {
  padding: 1rem;
}

@keyframes duty {
  25% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 1;
  }
}

.header p {
  font-size: 18px;
}

.hello {
  color: rgb(249, 94, 94);
  opacity: 1;
}

.desk {
  display: none;
}

/* .main {
  padding: 1rem 0;
} */

.main h2 {
  padding: 0.5rem 1rem;
  margin: 0;
}

.head {
  margin-bottom: 2rem;
  position: relative;
  z-index: -99;
  width: 200px;
}

.head::after {
  content: "";
  width: 20%;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: rgb(132, 132, 132);
  border-radius: 10px;
}

/***************** TOBBY INFO CSS ****************/

.text p {
  margin: 10px 0;
  animation: slide1 1.5s 1;
}

@keyframes slide1 {
  from {
    transform: translateX(100px);
  }

  to {
    transform: translateY(0);
  }
}

.text ul {
  margin: 10px 0;
  display: flex;
  align-items: center;
  animation: slide2 1.5s 1;
}

@keyframes slide2 {
  from {
    transform: translateX(-100px);
  }

  to {
    transform: translateY(0);
  }
}

.text li {
  list-style: none;
  font-size: 20px;
  margin: 5px 3px;
}

.text a {
  text-decoration: none;
}

.text a span {
  color: gray;
  text-decoration: none;
}

.text i {
  margin-right: 10px;
  font-size: 25px;
  color: rgb(249, 94, 94);
}

.link {
  display: flex;
  align-items: center;
}

.link a {
  width: fit-content;
  padding: 5px 10px;
  text-transform: capitalize;
  font-size: 17px;
  color: #ddd;
  text-decoration: none;
  border: 1px solid gray;
  transition: 0.5s linear;
}

.info li a {
  font-size: 25px;
  color: #f14343;
}

.link a:focus {
  background-color: rgb(249, 94, 94);
  border-color: rgb(249, 94, 94);
  outline: none;
  color: white;
}

.link a:first-child {
  animation: left 2s 1;
}

@keyframes left {
  from {
    transform: translateX(-50px);
  }

  to {
    transform: translateX(0);
  }
}

.link a:last-child {
  margin-left: 10px;
  animation: right 2s 1;
}

@keyframes right {
  from {
    transform: translateX(50px);
  }

  to {
    transform: translateX(0);
  }
}

.link a:hover {
  border-color: rgb(249, 94, 94);
  background-color: rgb(249, 94, 94);
  color: white;
}

.info p {
  padding: 0.5rem 1rem;
}

.skii {
  padding: 0.5rem 1rem;
}

.info ul {
  display: flex;
  margin: 0 1rem;
}

.info li {
  list-style: none;
  margin-right: 10px;
}

.skil {
  display: flex;
  flex-wrap: wrap;
}

.skil p {
  width: 40%;
  display: block;
}

.abt .ex {
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .header {
    height: 100vh;
    padding-bottom: 0;
  }

  .wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .header h3 {
    font-size: 45px;
  }

  .header h2 {
    font-size: 60px;
    font-weight: 700;
    color: whitesmoke;
    margin: 15px 0;
  }

  .header p {
    font-size: 30px;
  }

  .head {
    z-index: 0;
    width: 400px;
  }

  .about .head {
    font-size: 50px;
  }

  .desk {
    display: block;
    padding: 0.8rem;
  }

  .home {
    display: flex;
    align-items: flex-end;
  }

  .desk .teex {
    width: 65%;
    margin-left: 15px;
  }

  .desk .Abt_mobile__AgnFx {
    padding: 0;
    margin: 0;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    height: unset;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    position: unset;
    background-color: transparent;
  }

  nav ul li {
    margin-right: 15px;
    margin-bottom: 0;
  }

  .text ul {
    display: flex;
    justify-content: center;
  }

  .text li {
    font-size: 23px;
    margin-right: 8px;
  }

  .text a span {
    color: antiquewhite;
  }

  .text p {
    font-size: 28px;
  }

  /* .texts p {
    line-height: 30px;
    width: 70%;
    margin-left: 20px;
    font-size: 15px;
   } */

  .text i {
    margin-right: 20px;
    font-size: 33px;
  }

  .link {
    justify-content: center;
    margin: 1.2rem 0;
  }

  .link a {
    padding: 10px 25px;
    font-size: 25px;
  }

  .link a:last-child {
    margin-left: 10px;
  }

  /* .desk .Abt_link__S_z_4 {
    padding: 0.5rem 0;
  }

  .desk .Abt_link__S_z_4 a {
    color: antiquewhite;
    border-color: antiquewhite;
    padding: 10px;
    font-size: 23px;
  } */

  .icon {
    display: none;
  }

  .mobile {
    display: none;
  }

  /* .main {
    display: none;
  } */

  .abt {
    display: none;
  }

  .head::after {
    background-color: rgb(249, 94, 94);
  }

  .about {
    background-image: linear-gradient(#000000e3, #000000eb), url(/about.jpg);
    height: 100%;
    padding-top: 5rem;
  }

  .header .ex {
    margin: 2rem 0;
  }
}

@media (min-width: 1000px) {
  .wrapper {
    width: 65%;
  }

  .desk {
    padding: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 70%;
  }

  .desk .imag {
    width: 20%;
  }

  .text p {
    font-size: 32px;
  }

  .text i {
    font-size: 40px;
  }

  .link a {
    font-size: 26px;
  }

  .header h2 {
    font-size: 80px;
  }

  .Abt_text__a692f a {
    font-size: 30px;
  }

  .desk .Abt_link__S_z_4 a {
    font-size: 25px;
  }

  .Abt_text__a692f i {
    font-size: 32px;
  }

  .Abt_text__a692f ul {
    margin: 0;
  }
}
