.skills {
  padding: 1rem;
  font-size: 20px;
}

.skills li {
  list-style: none;
  background-color: rgba(208, 208, 208, 0.166);
  padding: .5rem;
  margin: 10px 0;
}

.rate {
  display: block;
  width: 300px;
  height: 7px;
  border-radius: 10px;
  background-color: rgba(214, 208, 208, 0.927);
  margin: 10px;
  position: relative;
  z-index: -99;
}

.rate::after {
  content: "";
  background-color: rgb(255, 88, 88);
  width: var(--width);
  height: 100%;
  position: absolute;
  border-radius: 10px;
}
