.skills {
  padding: 1rem;
  font-size: 20px;
}

.skills li {
  list-style: none;
  
}

.rate {
    display: block;
    width: 300px;
    height: 7px;
    border-radius: 10px;
    background-color: rgba(214, 208, 208, 0.927);
    margin: 10px;
    position: relative;
}

.rate::after {
    content: "";
    background-color: rgb(255, 88, 88);
    width: var(--width);
    height: 100%;
    position: absolute;
    border-radius: 10px;
}